body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23606 {
  position:absolute;
  left:0px;
  top:107px;
  width:1440px;
  height:724px;
  overflow:hidden;
}
#u23606_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:724px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u23606_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1204px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23607 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1204px;
}
#u23608 {
  position:absolute;
  left:2px;
  top:594px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:710px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23609 {
  position:absolute;
  left:116px;
  top:114px;
  width:194px;
  height:710px;
}
#u23610 {
  position:absolute;
  left:2px;
  top:347px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23611 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23612 {
  position:absolute;
  left:116px;
  top:126px;
  width:194px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23613 {
  position:absolute;
  left:48px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u23614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.329411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23614 {
  position:absolute;
  left:137px;
  top:141px;
  width:10px;
  height:12px;
}
#u23615 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:68px;
  background:inherit;
  background-color:rgba(128, 128, 128, 0.0470588235294118);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23616 {
  position:absolute;
  left:116px;
  top:168px;
  width:194px;
  height:68px;
}
#u23617 {
  position:absolute;
  left:2px;
  top:26px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:34px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23618 {
  position:absolute;
  left:308px;
  top:202px;
  width:2px;
  height:34px;
}
#u23619 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23620 {
  position:absolute;
  left:116px;
  top:168px;
  width:194px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23621 {
  position:absolute;
  left:48px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u23622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  text-align:left;
}
#u23622 {
  position:absolute;
  left:116px;
  top:202px;
  width:194px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  text-align:left;
}
#u23623 {
  position:absolute;
  left:48px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u23624 {
  position:absolute;
  left:0px;
  top:831px;
  width:1440px;
  height:114px;
  overflow:hidden;
}
#u23624_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:114px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u23624_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23625 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:109px;
}
#u23626 {
  position:absolute;
  left:2px;
  top:46px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23627 {
  position:absolute;
  left:192px;
  top:24px;
  width:79px;
  height:14px;
}
#u23628 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u23629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23629 {
  position:absolute;
  left:353px;
  top:24px;
  width:79px;
  height:14px;
}
#u23630 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u23631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23631 {
  position:absolute;
  left:513px;
  top:24px;
  width:79px;
  height:14px;
}
#u23632 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u23633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23633 {
  position:absolute;
  left:674px;
  top:24px;
  width:79px;
  height:14px;
}
#u23634 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u23635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23635 {
  position:absolute;
  left:835px;
  top:24px;
  width:79px;
  height:14px;
}
#u23636 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u23637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23637 {
  position:absolute;
  left:995px;
  top:24px;
  width:79px;
  height:14px;
}
#u23638 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u23639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23639 {
  position:absolute;
  left:1156px;
  top:24px;
  width:79px;
  height:14px;
}
#u23640 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u23641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u23641 {
  position:absolute;
  left:303px;
  top:22px;
  width:1px;
  height:22px;
}
#u23642 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u23643 {
  position:absolute;
  left:458px;
  top:21px;
  width:1px;
  height:22px;
}
#u23644 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u23645 {
  position:absolute;
  left:618px;
  top:22px;
  width:1px;
  height:22px;
}
#u23646 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u23647 {
  position:absolute;
  left:773px;
  top:21px;
  width:1px;
  height:22px;
}
#u23648 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u23649 {
  position:absolute;
  left:930px;
  top:22px;
  width:1px;
  height:22px;
}
#u23650 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u23651 {
  position:absolute;
  left:1102px;
  top:21px;
  width:1px;
  height:22px;
}
#u23652 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:16px;
}
#u23653 {
  position:absolute;
  left:282px;
  top:72px;
  width:799px;
  height:16px;
}
#u23654 {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  word-wrap:break-word;
}
#u23656 {
  position:absolute;
  left:0px;
  top:60px;
}
#u23656_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(63, 63, 63, 1);
  background-image:none;
}
#u23656_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:47px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23657 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:47px;
}
#u23658 {
  position:absolute;
  left:2px;
  top:16px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u23659 {
  position:absolute;
  left:1212px;
  top:77px;
  width:14px;
  height:14px;
  opacity:0.449999988079071;
}
#u23660 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23661 {
  position:absolute;
  left:108px;
  top:60px;
  width:77px;
  height:47px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23661_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23661.selected {
}
#u23662 {
  position:absolute;
  left:24px;
  top:14px;
  width:29px;
  white-space:nowrap;
}
#u23661_ann {
  position:absolute;
  left:178px;
  top:56px;
  width:1px;
  height:1px;
}
#u23663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23663 {
  position:absolute;
  left:213px;
  top:60px;
  width:77px;
  height:47px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23663_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23663.selected {
}
#u23664 {
  position:absolute;
  left:24px;
  top:14px;
  width:29px;
  white-space:nowrap;
}
#u23665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23665 {
  position:absolute;
  left:318px;
  top:60px;
  width:77px;
  height:47px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23665_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23665.selected {
}
#u23666 {
  position:absolute;
  left:24px;
  top:14px;
  width:29px;
  white-space:nowrap;
}
#u23667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23667 {
  position:absolute;
  left:423px;
  top:60px;
  width:77px;
  height:47px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23667_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23667.selected {
}
#u23668 {
  position:absolute;
  left:24px;
  top:14px;
  width:29px;
  white-space:nowrap;
}
#u23669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u23669 {
  position:absolute;
  left:1236px;
  top:60px;
  width:53px;
  height:47px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u23669_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u23669.selected {
}
#u23670 {
  position:absolute;
  left:2px;
  top:14px;
  width:49px;
  word-wrap:break-word;
}
#u23671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23671 {
  position:absolute;
  left:528px;
  top:60px;
  width:77px;
  height:47px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23671_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23671.selected {
}
#u23672 {
  position:absolute;
  left:24px;
  top:14px;
  width:29px;
  white-space:nowrap;
}
#u23673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23673 {
  position:absolute;
  left:1140px;
  top:30px;
  width:106px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23674 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u23675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23675 {
  position:absolute;
  left:1260px;
  top:30px;
  width:51px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23676 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u23677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23677 {
  position:absolute;
  left:633px;
  top:60px;
  width:77px;
  height:47px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23677_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23677.selected {
}
#u23678 {
  position:absolute;
  left:24px;
  top:14px;
  width:29px;
  white-space:nowrap;
}
#u23679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23679 {
  position:absolute;
  left:738px;
  top:60px;
  width:77px;
  height:47px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23679_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23679.selected {
}
#u23680 {
  position:absolute;
  left:24px;
  top:14px;
  width:29px;
  white-space:nowrap;
}
#u23679_ann {
  position:absolute;
  left:808px;
  top:56px;
  width:1px;
  height:1px;
}
#u23681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23681 {
  position:absolute;
  left:301px;
  top:31px;
  width:95px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23682 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u23683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:43px;
}
#u23683 {
  position:absolute;
  left:124px;
  top:7px;
  width:148px;
  height:43px;
}
#u23684 {
  position:absolute;
  left:2px;
  top:14px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u23685 {
  position:absolute;
  left:386px;
  top:37px;
  width:10px;
  height:7px;
}
#u23686 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23687 {
  position:absolute;
  left:843px;
  top:60px;
  width:77px;
  height:47px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23687_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u23687.selected {
}
#u23688 {
  position:absolute;
  left:24px;
  top:14px;
  width:29px;
  white-space:nowrap;
}
#u23689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:710px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23689 {
  position:absolute;
  left:320px;
  top:114px;
  width:1004px;
  height:710px;
}
#u23690 {
  position:absolute;
  left:2px;
  top:347px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:2px;
}
#u23691 {
  position:absolute;
  left:320px;
  top:153px;
  width:1004px;
  height:1px;
}
#u23692 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23693 {
  position:absolute;
  left:343px;
  top:122px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23694 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u23695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23695 {
  position:absolute;
  left:814px;
  top:591px;
  width:94px;
  height:32px;
}
#u23696 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u23697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u23697 {
  position:absolute;
  left:501px;
  top:276px;
  width:92px;
  height:16px;
  text-align:center;
}
#u23698 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u23699 {
  position:absolute;
  left:605px;
  top:273px;
  width:303px;
  height:25px;
}
#u23699_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23699_input:disabled {
  color:grayText;
}
#u23700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u23700 {
  position:absolute;
  left:501px;
  top:326px;
  width:92px;
  height:16px;
  text-align:center;
}
#u23701 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u23702 {
  position:absolute;
  left:605px;
  top:326px;
  width:538px;
  height:170px;
}
#u23702_input {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u23703 {
  position:absolute;
  left:501px;
  top:514px;
  width:92px;
  height:16px;
  text-align:center;
}
#u23704 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u23705 {
  position:absolute;
  left:605px;
  top:510px;
  width:300px;
  height:25px;
}
#u23705_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23706 {
  position:absolute;
  left:605px;
  top:545px;
  width:361px;
  height:16px;
}
#u23707 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
